.pagar {
    background-color: green;
    width: 200px;
    color: #FFF;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
}

li {
    list-style: none;
}

ol {
    padding: 0px;
    list-style-position: inside;
}

.eliminar {
    background-color: #801400;
    color: #FFF;
    border-radius: 10px;
    border: 0px;
    padding: 8px 20px;
    outline: none;
}

h3,span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@media screen and (max-width:274px) {
    .pagar{
        width: 100px;
    }
}


