.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgb(0, 87, 128);
}
.content-image{
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;

}

.image-product:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4)
}

.content .content-product {
    flex-basis: auto;
    border: 1px solid gray;
    border-radius: 20px 20px 0px 0px;
    margin: 10px 0px;
    padding-bottom: 8px;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
}

.price{
  margin-top: 10px;
  display: inline-block;
  padding: 5px;
  background-color: rgb(0, 87, 128);
  border-radius: 5px;
  color: #FFF;
}
.subtitle,.name-product{
  font-weight: bold;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.content .content-product:hover{
  border-bottom: 5px solid green;
}

.content div img {
    border-radius: 20px 20px 0px 0px;
}

.content div button {
    width: 100px;
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 10px;
    background-color: green;
    color: #FFF;
    cursor: pointer;
    outline: none;
}

.content div button:hover {
    background-color: grey;
}

span {
    display: block;
}

.subtitle {
    border: 1px solid;
    border-top: 5px solid rgb(0, 87, 128);
    display: block;
    padding: 10px;
    color: rgb(0, 87, 128);;
    margin: 0px;
}

.desactivado {
    cursor: not-allowed !important;
    background-color: gray !important;
}
