
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.productos {
    width: 70%;
}

.caja {
    border: 1px solid #000;
    box-sizing: border-box;
    width: 30%;
    margin-left: 10px;
    text-align: center;
    border-top: 5px solid rgb(0, 87, 128);
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width:866px) {

  main{
    flex-direction: column;
  }

  .productos,.caja{
    width: 100%;
    margin: auto;
  }
}

